{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}

   <div class="container my-5 py-3 z-depth-1 rounded">
   <h1>Mes commandes</h1>
   <a href="{{ path('account') }}" class="mb-3">Revenir sur mon compte</a>
   {% if orders|length == 0 %}
   <hr>
      <div class="container my-5 px-0 z-depth-1">
        <section class="text-center white-text justify-content-between p-5 indigo lighten-2">
          <h3 class="font-weight-bold mb-md-0 mb-4 mt-2">Aucune commande</h3>
          <a href="{{ path('products') }}" class="mt-4 btn btn-primary btn-rounded">Se rendre sur la boutique</a>
        </section>
      </div>
   {% else %}
     <section class="dark-grey-text">
       <div class="table-responsive">
         <table class="table product-table mb-0">
           <thead class="mdb-color lighten-5">
             <tr>
               <th class="font-weight-bold">
                 <strong>Référence</strong>
               </th>
               <th class="font-weight-bold">
                 <strong>Passé le : </strong>
               </th>
               <th class="font-weight-bold">
                 <strong>Quantité</strong>
               </th>
               <th class="font-weight-bold">
                 <strong>Prix Total :</strong>
               </th>
               <th class="font-weight-bold">
                 <strong>Statut :</strong>
               </th>
               <th></th>
             </tr>
           </thead>
           <tbody>
           {% for order in orders %}
             <tr>
               <td>{{ order.reference }}</td>
               <td>
                 <h5 class="mt-3">
                   <strong>{{ order.createdAt|date('d/m/Y') }}</strong>
                 </h5>
               </td>
               <td>
                  {{ order.orderDetails|length }}
               </td>
               <td>
                  {{ ((order.carrierPrice + order.total)/ 100) | number_format(2, ',', '.') }} €
               </td>
               <td>
                  {% if order.state == 1 %}
                  Payé
                  {% elseif order.state == 2 %}
                  Préparation en cours
                  {% elseif order.state == 3 %}
                  Livraison en cours
                  {% endif %}
               </td>
               <td>
                 <a href="{{ path('account_order_detail', {'reference': order.reference})}}" class="btn btn-success">Voir ma commande</a>
               </td>
             </tr>
             {% endfor %}
           </tbody>
         </table>
       </div>
     </section>
   </div>
   {% endif %}
{% endblock %}
