{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}

<div class="container-fluid">
   <div class="row mt-5">

      <div class="col-md-3 col-5">
         <h3>Filtres</h3>
            <hr>
         <div class="col">
            {{ form(form) }}
         </div>
      </div>

      <div class="col-md-9 col-7">
         <h3 class="text-center">Nos Produits</h3>
         <hr class="col-6 my-3">
                  {% if products == null %}
               <h3 class="text-center">Aucun résultat pour cette recherche</h3>
         {% endif %}
         <div class="row">

            {% for product in products %}
            <div class="card align-items-center border-dark border shadow p-3 mb-5 bg-white rounded my-2 mx-2 col-3"
               style="min-width:250px;">
               <div class="view overlay">
                  <img style="height:150px;" src="{{ asset('uploads/products/' ~ product.illustration) }}"
                     class="card-img-top" alt="Image du produit {{ product.name }}">
                  <a>
                     <div class="mask rgba-white-slight"></div>
                  </a>
               </div>
               <div class="card-body text-center">
                  <a href="{{ path('products_show', {'slug':product.slug})}}" class="grey-text">
                     <h6>{{ product.name }}</h6>
                  </a>
                  <hr>

                  <h5 class="blue-text mb-0">
                     <strong>Prix : {{ (product.price / 100) | number_format(2, ',', '.')}} €</strong>
                  </h5>
               </div>
            </div>
            {% endfor %}

         </div>
      </div>
   </div>
</div>

   {% endblock %}