{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}
{% block javascript %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}
<div class="container mt-5">
  <section class="dark-grey-text">

  	<div class="card">
      <div class="card-body">
        <div class="row">

          <div class="col-lg-7">

            <ul class="nav md-pills nav-justified pills-primary font-weight-bold">
              <li>
                  <h2>Je passe ma commande</h2>
              </li>
            </ul>
         <hr class="w-50">

            <div class="tab-content p-4">
               <h3>Adresse :</h3>
               <div class="form-check">
                  {{ delivery |replace({'[br]' : '<br/>'})|raw  }}
               </div>
               <hr class="my-5">
               <h3>Transporteur :</h3>
               <div class="form-check">
                  <p>Nom : {{ carrier.carrierName }}</p>
                  <p>Prix : {{ (carrier.carrierPrice / 100) | number_format(2, ',', '.')}} €</p>
               </div>
            </div>
          </div>


          <!--Panier-->
          <div class="col-lg-5 mb-4">
            <div class="card z-depth-0 border border-light rounded-0">
              <div class="card-body">
                <h4 class="mb-4 mt-1 h5 text-center font-weight-bold">Mes produits</h4>
                <hr>
                {% if cartComplete %}
                  {% set total = 0 %}
                <dl class="row">
                {% for products in cartComplete %}
                     <dd class="col-sm-12 text-center">
                     <img src="{{ asset('uploads/products/' ~ products.product.illustration) }}" alt=""
                              class="img-fluid z-depth-0 img-fluid" style="max-width: 200px;max-height: 150px;">
                     </dd>
                     <dd class="col-sm-12 text-center">
                       <a href="{{ path('products_show', {'slug': products.product.slug}) }}">
                       {{ products.product.name }}
                       </a>
                     </dd>
                     <dd class="col-sm-12 text-center">
                       Quantité : {{ products.quantity }} - 
                       Prix : {{ ((products.product.price * products.quantity) / 100) | number_format(2, ',', '.')}} €
                     </dd>

                     {% set total = total + (products.product.price * products.quantity ) %}
                  {% endfor %}
                </dl>
                <hr>
                <dl class="row">
                  <dt class="col-sm-8">
                    Sous-total :
                  </dt>
                  <dt class="col-sm-4">
                    {{ ( total / 100) | number_format(2, ',', '.')}} €
                  </dt>
                </dl>
               <dl class="row">
                  <dt class="col-sm-8">
                   Livraison :
                  </dt>
                  <dt class="col-sm-4">
                    {{ ( carrier.carrierPrice / 100) | number_format(2, ',', '.')}} €
                  </dt>
                </dl>
                <hr>
               <dl class="row">
                  <dt class="col-sm-8">
                   Total :
                  </dt>
                  <dt class="col-sm-4">
                    {{ ( (carrier.carrierPrice + total) / 100) | number_format(2, ',', '.')}} €
                  </dt>
                </dl>
                {% endif %}
              </div>
            </div>
          </div>
         {# Fin Panier #}
         <div class="col-lg-12">
            <hr class="w-50">
         <a id="checkout-button" class="btn btn-success btn-block">Payer | {{ ( (carrier.carrierPrice + total) / 100) | number_format(2, ',', '.')}} €</a>
         </div>

        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_51IAusCI6YwgpDkGgezCDiDwZdI4IcazpPq8DrKtcL3qj4NhvX0sE0iKxKgSbTrwYt5nVwl6PWUgVUcezhgIOwCWn00ITt60Dqn");
       var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
                fetch("/commande/create-checkout-session/{{ reference }}", {
                    method: "POST",
                })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {

                    if (session.error == 'order') {
                        window.location.replace('{{ path('order') }}');
                    } else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
  </script>
{% endblock %}

